html, body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.header-div {
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 1px solid #cccccc;
  /* padding: 20px; */
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

.main-div {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  padding: 20px;
  /* box-sizing: border-box; */
  /* margin-bottom: 20px; */
  text-align: center;
  clear: both;
  display: block;
}

#main-header {
  padding: 0;
  /* margin-bottom: 20px; */
}

.main-div:nth-child(even) {
  background-color: #f2f2f2;
  /* background-color: #f2f2f2; */
}

footer {
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  bottom: 0;
}

/* footer {
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  font-size: 9px;
} */

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  color: tomato;
  text-align: center;
  clear: both;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;

}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
}

.text-section {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  flex: 1; /* Occupy 50% of the container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.text-section img {
  max-width: 100px; /* Adjust the image size as needed */
  height: auto;
  align-self: flex-end; /* Align the image to the right */
}


/* START: (2) Age Group Expenses */

.scatter-plot {
  width: 800px;
  height: 500px;
  margin: 20px;
  position: relative;
  font-family: 'Trebuchet MS', sans-serif;
}

.sc-dot {
  stroke: white;
  stroke-width: 2;
}

.sc-tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 12px 'Trebuchet MS', sans-serif;
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

.sc-legend {
  font-size: 12px;
  text-anchor: end;
  position: absolute;
  top: 20px; /* Adjust this value as needed */
  right: 50px; /* Adjust this value as needed */
}

.sc-legend rect {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  display: inline-block;
}

/* END: (2) Age Group Expenses */


/* START: (3) Top Destinations */

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

.country-node.focused {
  stroke: #000;
  stroke-width: 2px;
}

.country-node.dimmed {
  opacity: 0.1;
}

.label.dimmed {
  opacity: 0.2;
}

/* END: (3) Top Destinations */


/* START: (4) Expenses of Top Destinations */
/* END: (4) Expenses of Top Destinations */


/* START: (5) Expense Type Drill Down */

.reduced-opacity {
  opacity: 0.1;
}

.reduced-opacity2 {
  opacity: 0.2;
}

select, .legend-label, .legend-item, .legend-color {
  font-family: 'Trebuchet MS', sans-serif;
}

/* END: (5) Expense Type Drill Down */


/* START: (5) Destination Monthly Arrivals */
/* END: (5) Destination Monthly Arrivals */