html, body {
  height: 100%;
  margin: 0;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}

footer {
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
  font-size: 9px;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between sections */
}

.graph-section {
  flex: 1; /* Occupy 50% of the container */
  padding-top: 30px; /* Add padding to the top */
  width: 50%;
  text-align: center;


}

.text-section {
  width: 50%;
  flex: 1; /* Occupy 50% of the container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.text-section img {
  max-width: 100px; /* Adjust the image size as needed */
  height: auto;
  align-self: flex-end; /* Align the image to the right */
}
